*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --Header: #38583D;
    --text-footer: #99CC66;
}

/* Nosso header */

.header {
    font-size: 1.2rem;
    background-color: var(--Header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    /*position: fixed;
    width: 100%;*/
}

.menu {
    display: flex;
}

.menu li img {
    object-fit: cover;
}

.menu li {
    margin-left: 10px;
}

.menu a {
    padding: 0 10px;
    color: #fff;
}

.menu a:hover {
    color: var(--text-footer);
    transition: 0.2s;
}



/* Nosso footer */
.footer {
    background: #38583D;
    padding: 25px 0 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 25%;
    margin-bottom: 20px;
}
   
.footer ul li {
    margin-bottom: 10px;
}
  
.footer a {
    color: #fff;
}
  
.footer a:hover {
    text-decoration: underline;
}
   
.footer-logo {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.footer h4 {
    margin-bottom: 10px;
    font-size: 1.125re;
    color: var(--text-footer);
}

.footer span {
    color: #fff;
}

.footer-logo span {
    color: var(--text-test);
}

/* responsivo */
@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
    }
  
    .menu li {
      margin-left: 0;
      margin-bottom: 5px;
    }
  
    .footer-section {
      flex-basis: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-section {
      flex-basis: 100%;
    } 
    
  }












